@font-face {
  font-family: NB;
  src: url(./NBInternationalProBoo.ttf);
}
@font-face {
  font-family: rejoy;
  src: url(Rejouice-Headline.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NB;
}
html,
body {
  height: 100%;
  width: 100%;
}
#cursor {
  height: 7vw;
  width: 7vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
#cursor h5 {
  font-size: 1.1vw;
  font-weight: 500;
}
#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #dadada;
  position: relative;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-content {
  height: 100%;
  width: 100%;
  /* background-color: #111; */
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vw;
  z-index: 10;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: brown; */
}
nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}
nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
}
#page1-content h1 {
  font-family: rejoy;
  font-size: 26.25vw;
  font-weight: 100;
  line-height: 16vw;
}
#page1-content h1 span {
  font-family: rejoy;
  display: inline-block;
}
#page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 2.8vw;
}
#page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid black;
}
#page2-top h3 {
  font-size: 1.7vw;
  font-weight: 500;
  width: 26%;
}
#page2-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}
.elem {
  overflow: hidden;
}
.elem h1 {
  font-size: 4.2vw;
  font-weight: 500;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}
#page3-top {
  text-align: center;
  /* background-color: aquamarine; */
}
#page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}
#page3-top h4 span {
  font-size: 0.7vw;
  background-color: #000;
  color: #fff;
  padding: 3px 8px;
  border-radius: 10px;
}
#page3-top h2 {
  font-size: 4vw;
  font-weight: 500;
}
#page3-elems {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9vw;
  /* background-color: beige; */
}
#page3-elems .box {
  height: 100%;
  width: 32.5%;
  /* background-color: blueviolet; */
  position: relative;
}
#page3-elems .box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page3-elems .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all linear 1.2s;
  object-position: center;
}
#page3-elems .box:hover img {
  opacity: 0;
}
#page3_0 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 2.8vw;
}
#page3_0-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid black;
}
#page3_0-top h3 {
  font-size: 1.7vw;
  font-weight: 500;
  width:30%;
}

.elem_2 {
  overflow: hidden;
}
.elem_2 h1 {
  font-size: 4.2vw;
  font-weight: 500;
}
#page4 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
#page4 video {
  height: 100%;
}
#page4 svg {
  position: absolute;
  height: 60%;
}
#cursor2 {
  height: 6vw;
  width: 6vw;
  background-color: #111;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
#cursor2 h5 {
  font-size: 1.1vw;
  font-weight: 500;
}
#page5 {
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
}
#page5 h1 {
  font-size: 8vw;
  font-family: rejoy;
  font-weight: 100;
  border-bottom: 1.2px solid #000;
  width: 96%;
  margin-left: 2vw;
}
#swiperdiv {
  height: 60vh;
  width: 100%;
  /* background-color: hotpink; */
  position: relative;
  margin-top: -6%;
}
.swiper {
  width: 132.7%;
  height: 100%;
}

.swiper-slide {
    width: 400px;
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.swiper-slide img {
  display: block;
  width: 19%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
#loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
}
#loader h3 {
    font-weight: 100;
    font-size: 2vw;
}
#page6 {
  height: 50vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}
#page6 {
  text-align: center;
  /* background-color: aquamarine; */
}
#page6 h4 {
  margin-bottom: 1vw;
  font-size: 1.06vw;
  font-weight: 500;
}

#page6 h2 {
  font-size: 4.2vw;
  font-weight: 500;
  
}
footer{
 width: 100%;
 height: 100vh;
 background-color:rgb(10, 10, 10); 

}

#f-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: rejoy;
}
.f-head{
  color: #fff;
  font-family:rejoy;
  font-size: 11vw;
  font-weight:bold;
  line-height: 16vw;
  margin: 0 135px;
  margin-top: 30vh;
}
#f-top1 {
  margin: 10px 50px;
}
#f-top1 h2 {
  font-size: 26px;
  font-weight: 100;
}
#f-top1 span {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 18px 30px;
}
#f-top1 h3 {
  /* width: 100%; */
  font-weight: 100;
  font-size: 15.5px;


  margin-top: 50px;
}

#f-top2 {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  margin: 50px 70px;
}
#f-top2 #li1 {
   
}
#f-top2 #li2  {
  margin-left: 80px;
}
#f-top2 #li2 i {
  font-size: 13px;
}
#f-top2 li a {
  color: #fff;
  text-decoration: none;
}
f-head h1 {
  font-family: rejoy;
  font-size: 26.25vw;
  font-weight: 100;
  line-height: 16vw;
}
